<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="App Tunnel"
    Manufacturer="App Tunnel"
    Version="0.0.1"
    UpgradeCode="AF2C31AA-95A8-47FE-86DE-3067D6EA57E0">
    <MajorUpgrade DowngradeErrorMessage="A newer version of App Tunnel is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="App Tunnel">
        <Directory Id="RuntimeFolder" Name="runtime" />
        <Directory Id="ToolsFolder" Name="tools" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppTunnelProgramsFolder" Name="App Tunnel" />
    </StandardDirectory>

    <DirectoryRef Id="RuntimeFolder">
      <Component Id="UiExecutableComponent" Guid="*" Bitness="always64">
        <File Id="UiExecutableFile" Source="$(var.StageDir)\runtime\AppTunnel.UI.exe" KeyPath="yes" />
      </Component>

      <Component Id="ServiceExecutableComponent" Guid="*" Bitness="always64">
        <File Id="ServiceExecutableFile" Source="$(var.StageDir)\runtime\AppTunnel.Service.exe" KeyPath="yes" />
        <ServiceInstall
          Id="AppTunnelServiceInstall"
          Name="AppTunnelService"
          DisplayName="App Tunnel Service"
          Description="App Tunnel routing and tunnel control plane."
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem"
          Vital="yes" />
        <ServiceControl
          Id="AppTunnelServiceControl"
          Name="AppTunnelService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ToolsFolder">
      <Component Id="CleanupScriptComponent" Guid="*" Bitness="always64">
        <File Id="CleanupScriptFile" Source="$(var.StageDir)\tools\Cleanup-AppTunnel.ps1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AppTunnelProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="*">
        <Shortcut
          Id="AppTunnelProgramShortcut"
          Name="App Tunnel"
          Target="[RuntimeFolder]AppTunnel.UI.exe"
          WorkingDirectory="RuntimeFolder" />
        <RemoveFolder Id="RemoveAppTunnelProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\AppTunnel" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="App Tunnel" Level="1">
      <ComponentRef Id="UiExecutableComponent" />
      <ComponentRef Id="ServiceExecutableComponent" />
      <ComponentRef Id="CleanupScriptComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentGroupRef Id="GeneratedRuntimeFiles" />
    </Feature>
  </Package>
</Wix>
